
html{
    overflow-y: auto !important;
    font-size: initial !important;
    font-family: initial;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*}*/

body{
    text-rendering: optimizeLegibility;
}

/*.layer:before{*/
/*    position: absolute;*/
/*    content: "";*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgb(186, 198, 204);*/
/*    background: radial-gradient(circle, rgba(141, 155, 164, 0) 0%, rgba(117, 160, 192, 0) 50%, rgba(120, 151, 173, 0.7) 100%);*/
/*}*/

.container{
    padding: 0.5rem !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(243 244 246);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.12);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.12);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.22);
}

.sidebarable{
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.wrapper{
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;
}

.main-sidebar{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 250px;
    background-color: white;
}

/*.content-wrapper{*/
/*    min-height:calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));*/
/*    height: 100%;*/
/*    box-sizing: border-box;*/
/*}*/

.v-enter,
.v-leave-to,
.v-menu-transition-enter,
.v-menu-transition-leave-to,
.fade-transition-enter-active,
.fade-transition-leave-active,
.v-menu-transition-enter-active,
.v-menu-transition-leave-active,
.v-list,
.v-list-item--link:before {
    transition: none !important;
}

.v-ripple__container {
    display:none !important;
}

.v-application--wrap{
    min-height: initial !important;
}

.v-application{
    background-color: transparent !important;
    font-family: inherit !important;
}

input{
    border-style: solid !important;
}

button{
    border-style: solid !important;
}

select{
    -moz-appearance: auto !important;
    -webkit-appearance: auto !important;
}

.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td{
    height: 26px !important;
    min-height: 26px !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td{
    font-size: 0.75rem !important; /* 12px */
}

.v-list{
    padding: 0 0 5px !important;
}

.v-picker{
    border-radius: 0 !important;
}

.theme--light.v-chip:not(.v-chip--active){
    /*Background color matching tailwind text-gray-200 rgb(229 231 235)*/
    background: rgb(229 231 235) !important;
}

/*Select list item color*/
.theme--light.v-application,
.theme--light.v-icon,
.theme--light.v-list,
.theme--light.v-input,
.theme--light.v-sheet,
.theme--light.v-select .v-select__selections,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
.v-application .primary--text{
    color: inherit !important;
}

.v-chip.v-size--x-small{
    border-radius: 2px !important;
}

.v-list-item{
    min-height: 26px !important;
}

.v-list-item__title{
    font-size: 0.875rem !important;
}

.v-list-item__content{
    padding: 0 !important;
}

.v-data-footer__select .v-select__slot{
    border: 1px solid #D1D5DB;
    padding-left: 4px !important;
}

.v-data-footer__select .v-text-field > .v-input__control > .v-input__slot:before,
.v-data-footer__select .v-text-field > .v-input__control > .v-input__slot:after{
    content: none !important;
}

.v-list-item--dense, .v-list--dense .v-list-item{
    min-height: 26px !important;
}

.v-application--is-ltr .v-data-footer__select .v-select{
    margin: 7px 0 7px 7px !important;
}

.v-text-field--outlined{
    border-radius: 0 !important;
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot{
    min-height: 2.25rem !important;
}

/*MultiSelect Icon*/
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner,
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__prepend-inner{
    /*margin-top: 6px !important;*/
    margin-top: 0.4rem !important;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset{
    /*Border color matching tailwind text-gray-300 rgb(209 213 219)*/
    border: 1px solid rgb(209 213 219) !important;
    /*border: 0 !important;*/
}

.v-text-field--outlined.v-input--is-focused fieldset{
    /*Border color matching tailwind text-gray-300 rgb(209 213 219)*/
    border: 1px solid rgb(209 213 219) !important;
}

.v-menu__content{
    border-radius: 0 !important;
    box-shadow: none !important;
    /*Border color matching tailwind text-gray-300 rgb(209 213 219)*/
    border: 1px solid rgb(209 213 219) !important;
}

.v-menu__content[style*="left: 12px"],
.v-menu__content[style*="left:12px"]{
    left: 0.5rem !important;
}

.menuable__content__active{
    max-height: 342px !important;
}

.v-data-table{
    border-radius: 0 !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th{
    padding: 0 8px !important;
}



/*Datatable*/

/*Header*/
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th{
    border-right: thin solid rgba(0, 0, 0, 0.12);
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th:last-child{
    border-right: none !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:not(.v-data-table__mobile-row){
    border-right: thin solid rgba(0, 0, 0, 0.12);
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:last-child{
    border-right: none !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:last-child{
    border-right: none !important;
}

.v-data-table__wrapper tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

